extends layout/index

block contenido
    main.container.mt-5
        h1.text-center.mt-5 #{pagina}

        // Añadido justify-content-center y margen superior (mt-4)
        .row.justify-content-center.mt-4
            // Cambiado a col-md-4 y añadido mb-3 y d-grid al enlace
            .col-md-4.mb-3
                a(href="/admin/viajes" class="btn btn-success btn-block d-grid") Viajes
            .col-md-4.mb-3
                a(href="/admin/guias" class="btn btn-success btn-block d-grid") Guias
            .col-md-4.mb-3
                a(href="/admin/hoteles" class="btn btn-success btn-block d-grid") Hoteles
            .col-md-4.mb-3
                a(href="/admin/testimoniales" class="btn btn-success btn-block d-grid") Testimoniales
            .col-md-4.mb-3
                a(href="/admin/reservas" class="btn btn-success btn-block d-grid") Reservas
