pug
extends ../layout/index

block contenido
    main.container.mt-5
    h1.text-center.mb-5= pagina

    if ofertas && ofertas.length > 0
      h2 Lista Simple de Ofertas:
      ul
        // Intento con iteración simple
        each oferta in ofertas
          li= oferta.anuncio
    else
      p No hay ofertas registradas.
